{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Fitness Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'fitness/css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="main-nav">
            <ul class="menu">
                {% for index in mainmenu %}
                <li class="dropdown {% if index.title == selected_menu %}menu-selected selected{% endif %}">
                    <a href="{% url index.url_name %}">{{ index.title }}</a>
                    <div class="dropdown-content">
                        {% for subcategory in index.subcategories %}
                        <a href="{% url subcategory.url_name %}">{{ subcategory.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <!-- Footer content goes here -->
    </footer>

    <script src="{% static 'fitness/js/dropdown.js' %}"></script>
</body>
</html>