{% extends "base.html" %}
{%load fitness_tags%}
{% block title %}FoodPlan{% endblock %}

{% block body_class %}foodplan-body{% endblock %}

{% block content %}
<div class="image-container">
    {% if program.photo %}
    <img class="centered-image" src="{{ program.photo.url }}" alt="Program Image"
         sizes="(min-width: 1280px) 1280px, (max-width: 1279px) 80vw, (max-width: 768px) calc(100vw - 2rem)"
         width="1920" height="1080">
    {% else %}
    <img class="centered-image" src="{{ default_program_photo }}" alt="Default Program Image"
         sizes="(min-width: 1280px) 1280px, (max-width: 1279px) 80vw, (max-width: 768px) calc(100vw - 2rem)"
         width="1920" height="1080">
    {% endif %}
</div>
<table class="table-margin-foodplan">
    <tr>
        <td style="vertical-align: top;">
            <h2>{{program.name}}</h2>
            {% if user.is_authenticated %}
            <form method="post" class="check-program-form">
                {% csrf_token %}
                <button type="submit" class="btn-check-program">Check this program</button>
            </form>
            {% endif %}
            <p class="description-text">{{ program.description }}</p>
        </td>
    </tr>
</table>

{% programs_home program.slug %}
{% endblock %}