<!-- foodplans_home.html: This template extends the base and fills the content block -->
{% extends "base.html" %}
{%load lifestyle_tags%}
{% block title %}FoodPlan{% endblock %}

{% block content %}
<h3>{{foodplan.name}}</h3>
{%if foodplan.photo%}
<p><img class="img-article-left" class="img-article-left" src="{{foodplan.photo.url}}"></p>
{%else%}
<p><img class="img-article-left" class="img-article-left" src="{{default_foodplan_photo}}"></p>
{%endif%}
<p>{{foodplan.description}}</p>
{% foodplans_home foodplan.slug %}
{% endblock %}