<!-- foodplans_home.html: This template extends the base and fills the content block -->
{% extends "base.html" %}
{%load lifestyle_tags%}
{% block title %}Life Style{% endblock %}

{% block content %}
<div class="masthead image-masthead" id="masthead">
  <div class="container">
    <div class="masthead-text">
      <div>Healthy Living</div>
      <h1 class="heading -huge">Live Well, Feel Great and Look Great.</h1>
              <p>A huge selection of health and fitness content, healthy recipes and transformation stories to help you get fit and stay fit!</p>
          </div>
  </div>

{% endblock %}